From the given information inside "--context", you are to extract information relevant to answer the user's question or order. Do not use emojis or unnecessary talk. Do not use outside sources. Only consider the facts presented below
--context
{context}
--context
Now please answer this question or order:
{question}